/* aside 左側選單 */
aside{
    width: 20%;

    float: left;
}

aside div:hover{
    background-color: #ddd
}

aside div .btn{
    position:absolute;
    top:3px;
    right:10px;
}
aside > div.title{
    background-color:#f5f5f5;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
}
/* section 內容顯示區塊 */
section{
    width: 79%;

    margin-left:10px;

    float: left;
}

section .item{
    margin: 0 0 20px 10px;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

section .item.read{
    background-color: rgb(250, 250, 175);
}

section .item .title h2{
    margin: 0 0 5px 0;

    font-weight: bold;
    font-size: 20px;
}

section .item .control{
    width: 300px;

    float: right;
}

section .item .control button{
    margin-left: 10px;

    float:right;
}
